@use '../utils/' as *;

.container {
    padding: 0;
    max-width: rem(1110);
    margin: 0 auto;
    position: relative;

    @include breakpoint-down(small) {
        padding: 0 rem(25);
    }
    
    &__mobile {
        @include breakpoint-down(small) {
        padding: 0;
        }
    }
}

.flex {
    display: flex;
}

.fd-c {
    @include breakpoint-down(small) {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}

.fd-cr {
    @include breakpoint-down(small) {
        flex-direction: column-reverse;

    }
}

.jc-sb {
    justify-content: space-between;
}

.jc-c {
    justify-content: center;
}

.ai-c {
    align-items: center;
}

.pl-pr {
    @include breakpoint-down(small) {
        padding: 0 rem(25);
    }
}

.pt-pb {
    padding-top: rem(60);
    padding-bottom: rem(60);
}

.hidden {
    display: none;
    transition: all 0.2s ease-in;
    
    @include breakpoint-down(small) {
        display: none;
        visibility: hidden;
        opacity: 0;
    }

}

.desktop {
    display: block;
    
    @include breakpoint-down(small) {
        display: none;
    }
}

.mobile {
    display: none;
    
    @include breakpoint-down(small) {
        display: block;
        width: 100%;
    }
}