@use '../utils/' as *;

.footer {
    margin-top: rem(150);
    background-image: url('/images/bg-pattern-footer-desktop.svg');
    background-color: var(--veryLightGray);
    background-repeat: no-repeat;
    background-position: left;
    
}