@use '../utils/' as *;

.header {
      background-color: white;
      min-height: rem(150);


      &__top {
        width: 100%;
         padding: rem(25) 0;
         
        @include breakpoint-down(small) {
            padding: rem(15) 0;
        }
      }

    .logo {
        max-width: 100%;
    }

    .nav {

        @include breakpoint-down(small) {
            display: none;
        }
     
        &__links {

            .link {

                 text-transform: uppercase;
                 color: var(--darkGrayViolet);
                 padding: rem(5);
                 font-weight: 600;
                 transition: all 0.2s ease-in;

                 &:not(:last-of-type) {
                    margin-right: rem(15);

                 }
                 
                 &:last-of-type {
                     border: 1px solid var(--darkViolet);
                     width: rem(140);
                     text-align: center;
                     color: var(--darkViolet);
                     transition: all 0.2s ease-in;

                     &:hover {
                         background-color: var(--darkViolet);
                         color: white;
                     }
                 }

                 &:hover {
                     color: var(--darkViolet);
                 }
              }

            }

        }
    }

    .hamburger {

        display: none;

        @include breakpoint-down(small) {
            display: block;
        }

        &__open {
            cursor: pointer;
        }

        &__close {
            cursor: pointer;
        }
    }

    .menu {
        background-color: var(--veryDarkViolet);
        background-image: url('/images/bg-pattern-mobile-nav.svg');
        background-repeat: no-repeat;
        height: 100vh;
        background-position: bottom;
        padding: rem(25);
        z-index: 1;

        &__link {
            display: block;
            text-align: center;
            font-size: rem(20);
            text-transform: uppercase;
            font-weight: 600;
            color: white;

            &:not(:last-of-type) {
                margin-bottom: rem(20);
            }

            &:last-of-type {
                border: 1px solid white;
                width: 100%;
                text-align: center;
                margin: auto;
                padding: rem(5);

            }
        }
    }
