@use '../utils/' as *;

main {
    padding-top: rem(100);
}

.hero {
    min-height: rem(600);
    background-color: var(--darkViolet);
    background-image: url('/images/bg-pattern-intro-left-desktop.svg'), url('/images/bg-pattern-intro-right-desktop.svg');
    background-repeat: no-repeat;
    background-position: bottom left, top right;

    &__info {
        width: 50%;
        margin: 0 auto;
        position: relative;
        top: rem(150);
        margin-left: 0;
        
        &::before {
            content: "";
            width: rem(140);
            height: rem(2);
            background-color: white;
            position: absolute;
            top: rem(-45);
        }
    }
    
    &__title {
            font-size: rem(72);
            color: white;
            line-height: 1;
            margin-bottom: rem(25);
    }
    
    &__desc {
        color: white;
        line-height: 1.5;
        margin-bottom: rem(25);
    }
    
    &__btn {
            display: block;
            width: rem(140);
            font-size: rem(18);
            text-transform: uppercase;
            font-weight: 600;
            color: white;
            border: 2px solid white;
            text-align: center;
            padding: rem(5);
            transition: all 0.2s ease-in;
            
            &:hover {
                background-color: white;
                color: var(--darkViolet);
            }
    }
    
    &__banner {
        position: absolute;
        top: 100px;
        right: 0;
    }
}